name: Java CI/CD

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Build Service with Maven
        run: mvn -f service/pom.xml clean install

      - name: Copy JAR to Deployment Server
        uses: appleboy/scp-action@v0.1.3
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USERNAME }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          source: "service/target/service-0.0.1-SNAPSHOT.jar"
          target: "/tmp"

      - name: Move jar into the right folder
        run: ssh -o StrictHostKeyChecking=no -i ${{ secrets.DEPLOY_SSH_KEY }} ${{ secrets.DEPLOY_USERNAME }}@${{ secrets.DEPLOY_HOST }} 'mv /tmp/service/target/service-0.0.1-SNAPSHOT.jar /opt/apps/postmybuild/service-0.0.1-SNAPSHOT.jar'

      - name: Set permissions
        run: ssh -o StrictHostKeyChecking=no -i ${{ secrets.DEPLOY_SSH_KEY }} ${{ secrets.DEPLOY_USERNAME }}@${{ secrets.DEPLOY_HOST }} 'chown -R ubuntu:ubuntu /opt/apps/postmybuild/'

      - name: Restart Service on Deployment Server
        run: ssh -o StrictHostKeyChecking=no -i ${{ secrets.DEPLOY_SSH_KEY }} ${{ secrets.DEPLOY_USERNAME }}@${{ secrets.DEPLOY_HOST }} 'systemctl restart postmybuild.service'
