name: API Tests

on:
  push:
    branches:
      - '*'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:latest
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: postmybuild
          MYSQL_USER: postmybuild
          MYSQL_PASSWORD: password
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '17'

      - name: Build with Maven
        run: mvn -B clean install -DskipTests

      - name: Start Web Server
        run: mvn spring-boot:run &

      - name: Check Server Status
        id: server-status
        run: sleep 30s

      - name: Run REST Assured Tests
        run: mvn -q -B -f acceptance-test/pom.xml verify

      - name: Archive Test Reports
        uses: actions/upload-artifact@v2
        with:
          name: test-reports
          path: acceptance-test/target/surefire-reports
